<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/styles/index.css">
    <link rel="icon" type="image/x-icon" href="../assets/img/favicon.ico">
    <title>Vapeur</title>
</head>
<body>
    <header>

        <img src="../assets/img/logo.png" alt="logo"></img>
        <a href="./index.html"><h2>Vapeur</h2></a>
        <a href="./shop.html"><p>Magasin</p></a>
        <a href="./library.html"><p>Bibliotheque</p></a>
        <a href="./about.html"><p>A Propos</p></a>
 

    </header>

        <form action="search">
            <input type="text" placeholder="Rechercher...">
        </form>

    <section class="Library">

    </section>

    <section class="Pannier">

    </section>

    <script src="../script/library.js"></script>
    <script src="../script/pannier.js"></script>
</body>
</html>